* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    background: burlywood; 
}

.heading {
    position: relative;
    left: 40%;
}

.rules {
    position: absolute;
    left: 50%;
}

.timer {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 80%;
    
}    
/* styling for the quiz container itself*/

.quiz {
    width: 650px;
    background: white;
    border-radius:2px;
    position: absolute;
    top:60%;
    left: 50%;
    height: 400px;
    padding-bottom: 20px; 
    margin-bottom: 20px;
    opacity: 0;
    pointer-events: none;
}

.quiz.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 5;
}

.quiz .timer {
    background: gray;
}

.quiz .q-text {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: solid 3px gray;
}
.answer-list {
    font-weight: bold;
    margin-top: 20%; 
    margin-left:10%;
}

.answer {
     padding: 5px;
}
/*  styling for the ABCD choice buttons  */

.answer .choice {
    font-weight: bold;
    padding: 5px 5px;
}

.answer:hover {
    cursor: pointer;
    background-color: yellow;
}

 footer .total {
    margin-top: 5%;
}
/* begin button positioning*/

.begin-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:(-50% , -50%);
}    

/* Button Styling */
.begin-button button {
    font-size: 30px;
    font-weight: 450;
    color: peru;
    outline: none;
    border: none;
    padding: 20px 20px;
    border-radius: 10px;
}
.begin-button button:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* End of Button Styling */